.navbar{
    background-color: rgb(202, 213, 50);
    position: absolute;
    height:1200px;
    width: 100%;
    left:0px;
    top:0px;
    color:red;
    
}

.name{
   
    background-color: rgb(39, 39, 39);
    width: 100%;
    font-size:100px;
    text-align: center;
}



