.container {
  height: 200px;
  background-color: #f6c667;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  flex: 1;
  text-align: center;
}

.image-logo {
  height: 200px;

}
