.register-page {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}

.title {
  text-align: center;
  margin-top: 80px;
  font-weight: 36;
  letter-spacing: 30px;
  color: #900c27;
  font-size: 100px;
}

.labels {
  color: #900c27;
  display: flex;
  font-size: 50px;
  font-weight: 20;
  letter-spacing: 2px;
  margin-top: 50px;
}

.label-wrapper {
  display: flex;
  justify-content: center;
  display: flex;
}

.input-style-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 700px;
  border-radius: 10px;
  margin-top: 50px;
  cursor: pointer;
  font-size: 45px;
  text-align: center;
}

.input-wrapper {
  display: flex;
  justify-content: center;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #900c27;
  color: white;
  padding: 25px;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  width: 400px;
  margin-top: 150px;
  text-transform: uppercase;
  border: #900c27;
}

.companyphoto-registerpage {
  display: flex;
  width: 350px !important;
  margin: auto;
}
