.background {
  background-color: white;
}

.content-wrapper{
  max-height: 1500px;
}

.title-confirm {
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
  letter-spacing: 3px;
}

label {
  font-size: 40px;
  margin-top: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

select {
  display: flex;
  justify-content: center;
}

option {
  display: flex;
  justify-content: center;
}

.button-design-confirm {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 4px;
  padding: 30px;
  width: 600px;
  background-color: #900c27;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  border: #900c27;
  display: flex;
  justify-content: center;
  margin-top: 260px;
  cursor: pointer;
}

.button-design-confirm-wrapper{
  display: flex;
  justify-content:center
}

.number-of-people-wrapper{
  display: flex;
  justify-content: center;
}

.number-of-people
{
  height:55px;
  width: 100px;
  font-size: 20px;
  margin-top:49px;
}

.choose-hour-wrapper{
  display: flex;
  justify-content: center;
}

.choose-hour{
  height:55px;
  width: 150px;
  font-size: 20px;
  margin-top:49px;
  border-top:1px solid
}

.select-location-wrapper{
  display: flex;
  justify-content: center;
}

.select-location{
  height:55px;
  width: 150px;
  font-size: 40px;
  margin-top:49px;
  border-top:1px solid
}