* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-page {
  background-color: white;
  height: 2000px;
}
.alignment {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inline {
  margin: auto;
}
.input-style {
  margin-top: 70px;
  height: 40px;
  width: 700px;
  padding: 10px;
  text-align: center;
  margin-bottom: 3px;
  font-size: 35px;
  border: 2px solid black;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.input-icons img {
  position: absolute;
}

#search {
  padding: 10px;
  min-width: 40px;
  margin-top: 70px;
}

.category-position {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.category-card {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 22px;
  line-height: 50px;
  color: white;
  background-color: #900c27;;
  margin-left: 30px;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
}
