.imageRestaurantPage {
  width: 100%;
  height: 100%;
}

.imageRestaurantPageWrapper {
  height: 753px;
}

.nameRestaurantPage {
  font-size: 60px;
  margin-left: 50px;
  margin-top: -287px;
}

.categoryRestaurantPage {
  position: relative;
  margin-left: 50px;
  font-size: 25px;
  bottom: 70px;
  color: rgb(101, 101, 101);
}

.addressRestaurantPage {
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 25px;
  bottom: 70px;
  color: rgb(101, 101, 101);
}

.address {
  margin-top: 90px;
}

.scheduleCostRestaurantPage {
  position: relative;
  margin-left: 50px;
  font-size: 25px;
  color: rgb(101, 101, 101);
}

.ratingRestaurantPage {
  position: relative;
  margin-left: 50px;
  font-size: 25px;
  color: rgb(101, 101, 101);
}

.averageCostRestaurantPage {
  position: relative;
  margin-left: 50px;
  font-size: 25px;
  color: rgb(101, 101, 101);
}

.ButtonWrapper {
  display: flex;
  margin-top: 150px;
}

.websiteButton {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #f6c667;
  border: #f6c667;
  margin-left: 120px;
  padding: 0px;
}
.mapsButton {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #f6c667;
  border: #f6c667;
  margin-left: 120px;
  padding: 0px;
}

.menuButton {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #f6c667;
  border: #f6c667;
  margin-left: 120px;
  padding: 0px;
}

.TextWrapper {
  display: flex;
}

.websiteText {
  font-size: 39px;
  position: relative;
  margin-left: 70px;
  color: rgb(101, 101, 101);
}

.menuText {
  font-size: 39px;
  position: relative;
  margin-left: 90px;
  color: rgb(101, 101, 101);
}

.mapsText {
  font-size: 39px;
  position: relative;
  margin-left: 120px;
  color: rgb(101, 101, 101);
}

.bookButtonWrapper {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  height: 20px;
}

.bookButton {
  position: relative;
  background-color: #900c27;
  color: white;
  font-weight: bold;
  font-size: 38px;
  height: 130px;
  width: 550px;
  align-items: center;
  border-radius: 14px;
  margin-bottom: 270px;
}

.favoriteButton {
  position: relative;
  bottom: 100px;
  left: 690px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-left: 120px;
  padding: 0px;
  background-color: #f6c667;
  border: #f6c667;
}

.backButton {
  position: relative;
  bottom: 900px;
  background-color: #f6c667;
  border: #f6c667;
  left: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 120px;
  padding: 0px;
  cursor: pointer;
}
.backArrow {
  position: relative;
  bottom: 930px;
  margin-left: 20px;
  margin-top: 20px;
  right: 21%;
  font-size: 100px;
  cursor: pointer;
}

.backArrow img {
  height: 500px;
}

.poitionMenuBar {
  top: 1000px;
}

.webImg {
  background-size: fill;
  position: relative;
  font-size: 30px;
  height: 80px;
  background-color: #f6c667;
}

.websiteButton {
  background-size: fill;
}

.FavoriteWrapper {
  position: relative;
}

.MuiAlert-root {
  position: absolute;
  bottom: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 2; /* places the alert on top of other elements */
}
