.container2 {
  position: sticky;
  height: 100px;
  background-color: #f6c667;
  margin-top: 200px;
  align-items: center;
  justify-content: space-between;
}

.wrapper2 {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
}

.center {
  flex: 1;
  text-align: center;
}

.material-symbols-outlined {
  font-size: 65px !important;
  color: black;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
