.date-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  text-align: center;
  font-size: 50px;
  border: 2px solid black;
}

.hour-input {
  width: 400px;
  height: 60px;
  text-align: center;
  font-size: 50px;
  border: 2px solid black;
}

.input-styling {
  font-size: 200px;
}

.select-position {
  display: flex;
  justify-content: center;

}

.select-style {
  font-size: 30px;
  width: 380px;
  height: 100px;
  margin-top: 40px;
}

.label-style {
  margin-top: 70px;
}

.input-box-style {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.reservation-title {
  text-align: center;
  font-size: 45px;
  letter-spacing: 10px;
  color: #900c27;
  margin-top: 100px;
}

.reservation-subtitle {
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
  color: black;
  margin-top: 50px;
}

.confirmButton {
  min-height: 450px;
  max-height: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showButton {
  min-height: 200px;
  max-height: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-button {
  position: relative;
  background-color: #900c27;
  color: white;
  font-weight: bold;
  font-size: 25px;
  height: 100px;
  width: 300px;
  align-items: center;
  border-radius: 14px;
  margin-bottom: 10px;
  margin-top: 100px;
}

.confirm-button {
  position: relative;
  background-color: #900c27;
  color: white;
  font-weight: bold;
  font-size: 38px;
  height: 130px;
  width: 550px;
  align-items: center;
  border-radius: 14px;
  margin-bottom: 10px;
  margin-top: 160px;
}

.tables {
  font-size: 50px;
  cursor: pointer;
}

.input-checkbox {
  height: 50px;
  width: 300px;
  border: 3px solid black;
}

.backArrowReservation{
  position: relative;
  bottom: 175px;
  margin-left: 20px;
  margin-top: 20px;
  right: 20%;
  font-size: 100px;
  cursor: pointer;
}


.backButtonReservation{
  position: relative;
  bottom: 150px;
  background-color: #ffffff;
  border: #f6c667;
  left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 120px;
  padding: 0px;
  cursor: pointer;
}

