.input-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 509px;
    border-radius: 10px;
    margin-top: 60px;
    cursor: pointer;
  }
  
  .input-wrapper {
  
    display: flex;
    justify-content: center;
    
  }
  
  .button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-login {
    background-color: #900c27;
    color: white;
    padding: 25px;
    font-size: 50px;
    font-weight: 140;
    display: flex;
    justify-content: center;
    width: 400px;
    margin-top:700px;
    
    font-family: 'Montserrat', sans-serif;
  }

  .companyphoto-loginpage{
    display: flex;
    width: 500px !important;
    margin:auto
  }
  