.account-page {
  background-color: white;
  min-height: auto;
  
 
}

.account-title {
  text-align: center;
  font-size: 50px;
  letter-spacing: 10px;
  color: #900c27;
  margin-top: 50px;
}

.input-alignment {
  margin-top: 50px;
}

.input-design {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 400px;
  height: 80px;
  font-size: 50px;
  border: 1px solid black
}

.input-design::placeholder{
  font-size: 130px;
}

.update-button {
  
  position: relative;
  padding: 20px;
  width: 480px;
  height: 120px;
  font-size: 50px;
  border-radius: 15px;
  letter-spacing: 4px;
  background-color: #900c27;
  color: white;
}

.input-box{
  display:flex;
  justify-content: center;
 
}
.updateButton{
  min-height: 920px;
  max-height:1100px ;
  display:flex;
  justify-content: center;
  align-items: center;
}