.account-page {
  background-color: white;
  min-height: auto;
}

.account-title {
  text-align: center;
  font-size: 50px;
  letter-spacing: 10px;
  color: #900c27;
  margin-top: 150px;
}

.input-alignment {
  margin-top: 50px;
}

.input-design {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 500px;
  height: 80px;
  font-size: 50px;
  border: 1px solid black;
  text-align: center;
}

.input-design::placeholder {
  font-size: 130px;
}

.update-button {
  position: relative;
  background-color: #900c27;
  color: white;
  font-weight: bold;
  font-size: 38px;
  height: 130px;
  width: 550px;
  align-items: center;
  border-radius: 14px;
  margin-bottom: 80px;
}

.input-box {
  display: flex;
  justify-content: center;
}
.updateButton {
  min-height: 520px;
  max-height: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backButtonMyAccount{
  position: relative;
  bottom: 400px;
  background-color: #ffffff;
  border: #f6c667;
  left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 120px;
  padding: 0px;
  cursor: pointer;
}

.backArrowMyAccount{
  position: relative;
  bottom: 430px;
  margin-left: 30px;
  margin-top: 20px;
  right: 21%;
  font-size: 100px;
  cursor: pointer;
}