.bookings-title {
  font-size: 50px;
  text-align: center;
  letter-spacing: 20px;
  color: #900c27;
  margin-top: 100px;
}

.booked-restaurant {
  text-align: center;
  margin-top: 30px;
  font-size: 35px;
  font-weight: 650;
  color: #900c27;
}

.booking-details {
  text-align: center;
  margin-top: 15px;
  font-size: 30px;
  font-weight: 600;
}

.backButtonUserReservation {
  position: relative;
  bottom: 340px;
  background-color: #f6c667;
  border: #000000;
  border-color: #000000;
  left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 120px;
  padding: 0px;
  cursor: pointer;
}

.backArrowUserReservation {
  position: relative;
  bottom: 370px;
  margin-left: 20px;
  margin-top: 20px;
  right: 20%;
  font-size: 100px;
  cursor: pointer;
}

.backArrowUserReservation img {
  height: 500px;
}
