body {
  margin: 0;
  padding: 0;
  background-color: #f6c667;
}

.homepage {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex column;
  align-items: center;
  justify-content: center;
  background-color: #f6c667;
}

.companyname {
  text-align: center;
  position: relative;
  font-size: 150px;
  color: #900c27;
}
.companyphoto {
  display: flex;
  width: 900px !important;
  margin: auto;
}

.up {
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #f6c667;
}
.down {
  height: 800px;
  display: flex;
  flex-direction: column;
  background-color: #f6c667;
  justify-content: center;
  align-items: center;
}

.loginbutton {
  position: relative;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 3px;
  background-color: #900c27;
  color: white;
  bottom: 45%;
  height: 100px;
  width: 500px;
  border: #900c27;
  text-transform: uppercase;
}

.descriptionhomepage {
  font-size: 50px;
  color: #900c27;
  position: relative;
  letter-spacing: 2px;
  top: 10%;
}

.registerbutton {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 3px;
  position: relative;
  height: 100px;
  color: #900c27;
  text-transform: uppercase;
  width: 500px;
  top: 20%;
  background-color: #f6c667;
  border: none;
  margin-top: 50px;
}
