.wishlistTitle {
  font-size: 30px;
  text-align: center;
  font-weight: 100;
  letter-spacing: 10px;
  color: #900c27;
  margin-top: 100px;
}

.main-pageWish {
  min-height: 2150px;
  background-color: white;
}

.main-2 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card-position-fav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-fav {
  margin-top: 150px;
  height: 290px;
  width: 790px;
  background-color: #f6c667;
  padding: 40px 20px 5px 25px;
  border-radius: 15px;
}

.card-left-fav {
  height: 250px;
  width: 375px;
  left: 0;
}

.card-left-fav img {
  height: 100%;
  width: 100%;
}

.card-right-fav {
  float: right;
  margin-top: -285px;
  margin-right: 50px;
  width: 290px;
  text-align: center;
  justify-content: center;
}

.restaurant-name-fav {
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 650;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.button-design-fav {
  font-size: 25px;
  font-weight: 600;
  padding: 15px;
  margin-top: 10px;
  width: 250px;
  background-color: #900c27;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  border: #900c27;
  border-radius: 15px;
}

.button-design-fav-rem {
    font-size: 25px;
    font-weight: 600;
    padding: 15px;
    margin-top: 10px;
    width: 250px;
    background-color: rgb(49, 107, 82);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    border: #900c27;
    border-radius: 15px;
  }

  .backButtonWishList{
    position: relative;
    bottom: 340px;
    background-color: #ffffff;
    border: #f6c667;
    left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 120px;
    padding: 0px;
    cursor: pointer;
  }

  .backArrowWishList{
    position: relative;
    bottom: 370px;
    margin-left: 30px;
    margin-top: 20px;
    right: 21%;
    font-size: 100px;
    cursor: pointer;
  }